<section class="simple-posts">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">{% include 'reusable-elements/post.html' with { 'title': 'Title 1', 'content': 'Dolor quis anim dolore aute sit anim reprehenderit cupidatat non cillum. Aute id est in labore. Anim mollit cupidatat do officia. Lorem occaecat ad elit ex tempor anim dolor reprehenderit aliquip aliquip fugiat minim labore. Minim tempor aliqua ullamco labore eiusmod aliquip anim. Nulla anim aliqua ea dolore id non occaecat qui aute fugiat est.' } %}</div>
      <div class="col-12 col-lg-6">{% include 'reusable-elements/post.html' with { 'title': 'Title 2', 'content': 'Magna duis consectetur qui dolor et aliquip et incididunt proident eu ut. Lorem irure ullamco nisi aliquip cillum adipisicing minim commodo nisi nulla adipisicing ullamco. Et non nisi anim sint eu do. Amet elit fugiat commodo non elit irure consectetur officia exercitation labore dolor. Nulla do quis non sit ipsum mollit id nostrud cillum mollit adipisicing. Occaecat pariatur non fugiat mollit ex veniam.' } %}</div>
    </div>
  </div>
</section>
